button{
  background-color: transparent;
  cursor: pointer;
  font-size: xx-large;
  transition-duration: 0.4s;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border: none;
  border-radius: 30px;
}
button:hover {
  background-color: aliceblue;
  cursor: pointer;
  color: blue;
}
